USE [FootballMAS22]
GO
/****** Object:  Table [dbo].[t_tracabgen5_03_enriched]    Script Date: 21.03.2023 15:48:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_tracabgen5_03_enriched](
	[matchId] [int] NULL,
	[ts] [bigint] NULL,
	[utc] [datetime] NULL,
	[isBallInPlay] [nvarchar](50) NULL,
	[ballPossession] [nvarchar](50) NULL,
	[contactDevInfo] [nvarchar](256) NULL,
	[json] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_tracabgen5_03_enriched_objects]    Script Date: 21.03.2023 15:48:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_tracabgen5_03_enriched_objects]
AS
SELECT t.matchId,
	t.ts,
	j.[type],
	j.id,
	j.playerId,
	j.teamId,
	j.zone,
	j.x,
	j.y,
	j.z,
	j.sampling,
	j.velocity,
	j.accelleration,
	j.distance,
	j.delta_time
--	,t.json
FROM t_tracabgen5_03_enriched as t
	cross apply openjson(JSON_QUERY(t.json, '$.objects')) 
	WITH (
	  type int,
	  id int,
	  playerId int,
	  teamId int,
	  zone int,
	  x float,
	  y float,
	  z float,
	  sampling float,
	  velocity float,
	  accelleration float,
	  distance float,
	  delta_time float
	) AS j

GO
/****** Object:  View [dbo].[v_teamCentroid]    Script Date: 21.03.2023 15:48:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[v_teamCentroid]
AS
SELECT matchid, ts, type, cast(avg(x) as int) as centroidX, min(x) as minX ,max(x) as maxX, (max(x)-min(x)) deltaX, cast(avg(y) as int) as centroidY, min(y) as minY ,max(y) as maxY, (max(y)-min(y)) deltaY,
cast(((max(x)-min(x)) * (max(y)-min(y)) * 0.0001) as int) areaM2
FROM  dbo.v_tracabgen5_03_enriched_objects
WHERE (type = 0) AND (id <> 21) OR
         (type = 1) AND (id <> 23)
GROUP BY matchId, ts, type
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "v_tracabgen5_03_enriched_objects"
            Begin Extent = 
               Top = 15
               Left = 96
               Bottom = 324
               Right = 438
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 12
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v_teamCentroid'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v_teamCentroid'
GO
